/*Universal Styles - START*/

html {
    font-size: 18px;
    font-family: Helvetica;
    line-height: 1.4;
}

.container {
    width: 960px;
    margin: auto;
}

h2, h4 {
    font-weight: bold;
}

.flex {
    display: flex;
}

header,
h3 {
    background-color: cadetblue;
    color: white;
}

body {
    margin: 0;
}

/*Universal Styles - END*/

/*Header - START*/

header {
    padding-top: 1rem;
    display: flex;
    padding-bottom: 1rem;
}

.brand img {
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.brand {
    display: flex;
    align-items: center;
    flex-grow: 1; 
}

ul {
    list-style: none;
    margin-right: 1rem;
}

ul li {
    display: inline;
    padding: 0 1rem; 
}

.mobile-menu {
        display: none;
    }

/*Header - END*/

/*Banner - START*/

.banner {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
    background-position: center;
    background-size: cover;
    height: 30rem;
    padding-top: 1rem;
}

.headline {
    background-color: white;
    padding: 0.75rem 5rem;
    display: inline-block;
    margin-top: 10rem;
    margin-right: -2rem;
    line-height: 2.4rem;
}

.right {
    justify-content: flex-end;
}

h2 {
    font-size: 2rem;
}


/*Banner - END*/

/*Main Content - START*/

section {
    display: flex;
    justify-content: center;
}

.features {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 5rem;
    margin: 3rem;
}

.offer {
    display: flex;
}

.offer img {
    margin-bottom: 1rem;
    width: 5rem;
}

#paper img {
    width: 3.5rem;
}

.business-info {
    display: flex;
    justify-content: center;
}

.info {
    width: 35%;
    margin-right: 5%;
    margin-bottom: 4rem;
}

h3 {
    padding: 0.5rem 1.25rem;
}


/*Main Content - END*/

/*Footer - START*/

footer {
    background-color: azure;
    padding: 4rem 2rem;
}

footer img {
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.copyright {
    display: flex;  
    align-items: center;
}

/*Footer - END*/

/*Media Queries - START*/

@media only screen and (max-width: 960px) {
    .container {
        width: 100%;
}
    .banner {
        padding-top: 0;
        height: 22rem;
    }
    
    .headline {
        margin-top: 5rem;
        padding: 0.75rem 4rem;
        margin-right: 2rem;
        font-size: 1.33rem;
    }
}

@media only screen and (max-width: 760px) {
    .container, 
    .headline,
    .info {
        width: 100%;
}
    .banner {
        padding-top: 0;
        height: 17rem;
        background-position: 20%;
    }
    
    .headline {
        margin-top: 9rem;
        text-align: center;
        padding: 1rem 0;
    }
    
    .headline h2 {
        font-size: 1rem;
    }
    
    .mobile-menu {
        display: block;
    }
    
    nav ul {
        display: none;
    }
    
    .company {
        display: none;
    }
    
    .offer {
        display: flex;
    }
    
    .features {
        width: 90%;

    }
}
